In [140]:
import pandas as pd
import tabula

In [141]:
pdf_in = "C:/Users/pc/PycharmProjects/statement_sorter/report_2021-09-05_2023-04-01[7802].pdf"

PDF_list_of_DFs = tabula.read_pdf(pdf_in, pages='all', multiple_tables=True, pandas_options={'header': None})

#Читаем таблицы из ПДФ. Получаем в виде списка табличек т.е. список Датафреймов. 
#Далее нужно найти таблицы которые нужно привести к общей форме заглушками.

In [142]:
DF_Pass = pd.DataFrame(columns=[0,1,2,3,4,5,6,7,8,9,10,11]) #заглушка

In [143]:
# очищаем заглушкой таблицы которые считались но нам не нужны
PDF_list_of_DFs[-4] = DF_Pass 
PDF_list_of_DFs[-3] = DF_Pass
PDF_list_of_DFs[-2] = DF_Pass
PDF_list_of_DFs[-1] = DF_Pass
PDF_list_of_DFs[0] = DF_Pass

In [144]:
# соединяем все ДФ в один большой для анализа
for value in PDF_list_of_DFs:
    DF_Pass = DF_Pass.append(value, ignore_index = True)

C:\Users\pc\AppData\Local\Temp\ipykernel_16680\2171215415.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF_Pass = DF_Pass.append(value, ignore_index = True)

In [145]:
# выбираем нужные столбцы 
DF_Pass = DF_Pass.iloc[:, [1,2,4]]

In [148]:
DF_Pass = DF_Pass.dropna()

In [169]:
d = DF_Pass[DF_Pass[2].str.contains("аванса|заработной|отпуск|премии")== True ]

In [170]:
d

             1                                                  2         4
34    20/09/21  Платеж на клиентский контракт: Зачисление аван...     12963
36    24/09/21  Платеж на клиентский контракт: Зачисление прем...  11909.42
66    05/10/21  Платеж на клиентский контракт: Зачисление зара...     12963
78    20/10/21  Платеж на клиентский контракт: Зачисление аван...  13580.52
112   25/10/21  Платеж на клиентский контракт: Зачисление прем...  12304.79
...        ...                                                ...       ...
1773  20/02/23  Платеж на клиентский контракт: Зачисление аван...  21415.38
1775  21/02/23  Платеж на клиентский контракт: Зачисление прем...  14611.44
1782  03/03/23  Платеж на клиентский контракт: Зачисление зара...  13384.62
1810  20/03/23  Платеж на клиентский контракт: Зачисление аван...  15709.14
1812  22/03/23  Платеж на клиентский контракт: Зачисление прем...  15110.87

[67 rows x 3 columns]

In [172]:
import matplotlib.pyplot as plt

In [211]:
d[1] = d[1].astype("datetime64[ns]")

C:\Users\pc\AppData\Local\Temp\ipykernel_16680\1102954304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d[1] = d[1].astype("datetime64[ns]")

In [212]:
d

              1                                                  2         4
34   2021-09-20  Платеж на клиентский контракт: Зачисление аван...  12963.00
36   2021-09-24  Платеж на клиентский контракт: Зачисление прем...  11909.42
66   2021-05-10  Платеж на клиентский контракт: Зачисление зара...  12963.00
78   2021-10-20  Платеж на клиентский контракт: Зачисление аван...  13580.52
112  2021-10-25  Платеж на клиентский контракт: Зачисление прем...  12304.79
...         ...                                                ...       ...
1773 2023-02-20  Платеж на клиентский контракт: Зачисление аван...  21415.38
1775 2023-02-21  Платеж на клиентский контракт: Зачисление прем...  14611.44
1782 2023-03-03  Платеж на клиентский контракт: Зачисление зара...  13384.62
1810 2023-03-20  Платеж на клиентский контракт: Зачисление аван...  15709.14
1812 2023-03-22  Платеж на клиентский контракт: Зачисление прем...  15110.87

[67 rows x 3 columns]

In [215]:
s = d[d[1] > '2022-10-01']

In [220]:
round(s[4].sum() / 6, 2)

43337.27